// COLORS
$darkBackground: #10131a;
$mainBackground: #2a3142;
$secondaryBackground: #515f80;
$boxBackground: #1b1e29;
$mutedBlue: #526aa3;
$brightBlue: #4e6bb0;
$lightBlue: #ccced6;
$offWhite: #f7faff;
$white: #fcfdff;

// ANIMATION
$altFont: 'Shadows Into Light', cursive;